/* HTML ELEMENTS */
body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* SECTIONS */
/* TITLE */
#title {
    background-color: #e4f9f5;
}

/* NAVBAR */
.navbar {
    padding: 30px;
}

.nav-image {
    width: 73px;
    height: 73px;
}

.nav-item {
    color: #66BFBF;
}

/* Title */
.title {
    margin: 7% 15%;
}

.name {
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    font-size: 5.6rem;
}

.mytitle {
    color: #66BFBF;
    font-size: 2rem;
}

.Cloud-gif-left {
    width: 30%;
    position: relative;
    top: 2.5rem;
    left: 3.5rem;

}

.Cloud-gif-right {
    width: 30%;
    position: relative;
    bottom: 1rem;
    right: 1.5rem;
}

.toronto-img {
    width: 100%;
    text-align: center;
}

/* about-me */
#about-me {
    padding: 7% 15%;
}

.haider-avatar {
    width: 25%;
    margin: 3% 15%;
}

.WhoIam {
    padding: 0% 20%;
    font-family: 'merriweather', serif;
}

/* My Skills */
#Myskills{
    background-color: #e4f9f5;
    padding-bottom: 7%;
}
.padding{
    padding-top: 7%;
}
.carousel-item{
    padding: 3%;
}
.Skill-img{
   width: 45%;
   padding-bottom: 3%;
}
.Skill-img-2{
    width: 80%;
    padding-bottom: 3%;
}
.Skill-header{
    color: #66BFBF;
    font-size: 1.75rem;
}
.Skill-text{
    font-family: 'merriweather', serif;
    padding: 0 10%;
}


/* carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: #66BFBF;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color: #66BFBF;
}

/* Projects */
#Projects{
    padding: 5% 10%;
}

.ProjectTitle{
    padding-top: 1%;
}

.video{
    width: 70%;
    height: 70%;
}

/* contact me */
#contactme{
    background-color: #e4f9f5;
    padding: 7% 15%;
}

/* footer */
#footer{
    background-color: #66BFBF;
    padding: 3%;
}

/* ScreenSizing */
@media(max-width: 1200px) {
    .name {
        font-size: 3.5rem;
    }

    .mytitle {
        font-size: 1.5rem;
    }

    .WhoIam{
        font-size: .75rem;
    }

    .video{
        width: 400;
        height: 200;
    }



}