/* Main Element css*/

body{
    margin: 0px; 
    text-align: center;
    font-family: 'merriweather', serif;
    color: #40514E;
}

h1{
    color: #66BFBF;
    margin-bottom: 0px;
    padding-top: 50px;
    font-size: 5.625rem;
    margin-top: 0px;  
    font-family: 'Sacramento', cursive;
}

h2{
    color: #66BFBF;
    font-family: 'montserrat', sans-serif;
    font-size: 2.5rem;
}
h3{
    color: #11999e;
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 1500;
}
span{
    text-decoration: underline;
}
a {
    color: #11999e;
    text-decoration: none;

}

a:hover{
    color: #EAF6F6;
}

hr{
    margin: 5% auto;
    border-style: none;
    border-top-style: dotted;
    width: 7.5%;
    border-width: .5rem;
    color: rgb(147, 153, 153);
}

/*class css*/
.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.aboutme {
    width: 500px;
    margin: auto;
}

.source1{
    margin: 0px;
    font-size: .75rem;
   
}

.source2{
    margin: 0px;
    font-size: .75rem;
}

.copyright{
    color: #EAF6F6;
    font-size: .75rem;
    padding: 20px auto;
   
}
.sources{
    text-align: left;
}



.mytitle {
    font-weight: normal;
}

.skill-row {
    margin: 0px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.footer-link{
    font-weight: bold;
    padding-top: 10px;
}

.middle-container{
    padding-bottom: 50px;
}
.bottom-container{
    padding-top: 30px;
    background-color: #66BFBF;
    
}


.BUTTON_JRC {
    background: #3D94F6;
background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 40px auto 40px auto;
    }
    
    .BUTTON_JRC:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    }

/*images */
.bottom-cloud {
    position: absolute;
    left: 10%;
    bottom: 300px;
    height: 200px;
    width: 200px;
}

.top-cloud {
    position: absolute;
    right: 10%;
    top: 20%;   
    height: 200px;
    width: 200px;
}

.haider-image{
    padding-top: 30px;
    height: 400px;
    width: 400px;
}

.Kebab-pic{
    width: 20%;
    float: right;
    margin-right: 60px;
}

.coding-gif{
 width: 25%;
 float: left;
 margin-right: 30px;
}

.linkedin-img{
    padding-right: 5px;
}

/*id css */
